# Django & Python
*.pyc
__pycache__/
*.log
db.sqlite3
.env
.venv/

# Training & video data
PlankDataset/
SitupDataset/
PushupDataset/
SquatDataset/
ReversePlankDataset/
SidePlankDataset/
JumpingJacksDataset/
LungesDataset/
uploaded_videos/
models/
training.log
