# Django & Python
__pycache__/
*.py[cod]
*$py.class
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.env
.venv
env/
venv/
ENV/

# OS specific
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Training & dataset folders
PlankDataset/
SitupDataset/
PushupDataset/
SquatDataset/
ReversePlankDataset/
SidePlankDataset/
JumpingJacksDataset/
LungesDataset/
uploaded_videos/
training.log

# Models (Keep .keras, ignore heavy/old formats)
*.h5
*.tflite
*.onnx

# Frontend dependencies and builds
**/node_modules/
**/dist/
**/build/
.next/
out/
.vercel
